<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Editar Tarefa</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Editar Tarefa</h1>
        <form action="{{ url_for('edit_task', task_id=task.id) }}" method="post">
            <div class="form-group">
                <label for="taskContent">Conteúdo:</label>
                <input type="text" class="form-control" id="taskContent" name="content" value="{{ task.content }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>
        <a href="{{ url_for('tarefas') }}" class="btn btn-primary mt-5">Cancelar</a>
    </div>
</body>
</html>
