<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Página Inicial</title>
</head>
<body>
    <div class="container mt-5">
        <h1>Bem-vindo à Página Inicial</h1>
        <p>Clique no botão abaixo para ir para a página de tarefas:</p>
        <a href="{{ url_for('tarefas') }}" class="btn btn-primary">Ir para Tarefas</a>
        <a href="{{ url_for('glossario') }}" class="btn btn-primary">Ir para Glossário de Conteúdos</a>
        <a href="{{ url_for('sobre') }}" class="btn btn-primary">Sobre a Equipe</a>
    </div>
</body>
</html>