<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Página Inicial</title>
</head>
<body style="background-image: url('/static/img/background2.svg');" >
    <div class="container mt-5">
        <h1>Bem-vindo à Página Inicial</h1>
        <p>Clique nos botões abaixo para navegar em nossas páginas:</p>
        <a href="{{ url_for('tarefas') }}" class="btn btn-primary">Ir para Tarefas</a>
        <a href="{{ url_for('glossario') }}" class="btn btn-primary">Ir para Glossário de Conteúdos</a>
        <a href="{{ url_for('sobre') }}" class="btn btn-primary">Sobre a Equipe</a>
    </div>

    <div class="container mt-5">
        <h5>Abaixo segue os outros projetos realizados nesse semestre:</h5>
        <br>
        <div class="card-deck">
            <div class="card">
                <img id="python" class="card-img-top" src="/static/img/home-service.svg" alt="Imagem de capa do card">
                <div class="card-header">
                    Projeto Interação Humano Computador
                </div>
                <div class="card-body">
                    <h5 class="card-title">App Home Service</h5>
                    <p class="card-text">O Home Service é um aplicativo de contratação de serviços domésticos que podem variar desde serviços como faxina, manicure, pintor e etc.</p>
                    <a href="https://www.figma.com/file/cJDyHkqYblFDCA0v96KOW9/Untitled-(Copy)?type=design&node-id=0%3A1&mode=design&t=7OVtawU4oCyvhYlJ-1" class="btn btn-primary" target="_blank">Visitar</a>
                </div>
            </div>

            <div class="card">
                <img id="python" class="card-img-top" src="/static/img/artilheiros.svg" alt="Imagem de capa do card">
                <div class="card-header">
                    Projeto Tecnologias para Front-End I
                </div>
                <div class="card-body">
                    <h5 class="card-title">App Artilheiros</h5>
                    <p class="card-text">Site para organização de "pelada" com cadastro de pessoas para o jogo, com a opção de sorteio de times ou time pré-definido. O site contará com a função de contagem de gols e assistências.</p>
                    <a href="https://www.figma.com/file/4BDlQkFegkjuGlXOO0sZWt/Untitled-(Copy)?type=design&node-id=0%3A1&mode=design&t=4bKUgsJSRoAtyrXz-1" class="btn btn-primary" target="_blank">Visitar</a>
                </div>
            </div>

            <div class="card">
                <img id="python" class="card-img-top" src="/static/img/infinite.svg" alt="Imagem de capa do card">
                <div class="card-header">
                    Projeto Tópicos Essenciais de Programação
                </div>
                <div class="card-body">
                    <h5 class="card-title">App Infinity</h5>
                    <p class="card-text">Aplicativo de carona universitária, que tem como o intuito conectar estudantes com carro próprio com estudantes que necessitam de carona.</p>
                    <a href="https://www.figma.com/file/dDyaGZiwQdDMmHNCOAV7aM/Untitled?type=design&t=k8QXzoq0lE5HuOEA-6" class="btn btn-primary" target="_blank">Visitar</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
