<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <title>Sobre a equipe</title>
</head>
<body>
<div class="container mt-5">
  <div id="accordion">
    <div class="card">
      <div class="card-header flex space-between" id="headingOne">
        <h5 class="mb-0">
          Lucas Fragoso
        </h5>
        <button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          <span aria-hidden="true">+</span>
        </button>
      </div>

      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          Estudante do primeiro período do curso de Sistemas para internet no Centro Universitário UNIESP
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-header flex space-between" id="headingTwo">
        <h5 class="mb-0">
          André
          <button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span aria-hidden="true">+</span>
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          Conteúdo do Painel 2
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header flex space-between" id="headingthree">
        <h5 class="mb-0">
          Caio
          <button class="btn" data-toggle="collapse" data-target="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
            <span aria-hidden="true">+</span>
          </button>
        </h5>
      </div>

      <div id="collapsethree" class="collapse" aria-labelledby="headingthree" data-parent="#accordion">
        <div class="card-body">
          Conteúdo do Painel 1
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header flex space-between" id="headingFour">
        <h5 class="mb-0">
          Juan
          <button class="btn" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <span aria-hidden="true">+</span>
          </button>
        </h5>
      </div>

      <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          Conteúdo do Painel 1
        </div>
      </div>
    </div>
  </div>
  <a href="{{ url_for('index') }}" class="btn btn-primary mt-5">Ir para início</a>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
